* {
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
    text-align: center;
	font-family: Coda, cursive;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.container {
	padding-top: 20px;
	width: 500px;
	margin: auto;
}

.score-panel {
	margin-top: 30px;
	text-align: left;
}

.score-panel li {
	display: inline-block;
	list-style: none;
}