* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
}

button {
    outline: none;
}

body {
    text-align: center;
	font-family: Coda, cursive;
	color: #fff;
	background: #1f4037;
	background: -webkit-gradient(linear, right top, left bottom, from(#99f2c8), to(#1f4037));
	background: linear-gradient(to left bottom, #99f2c8, #1f4037);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.container {
	padding-top: 20px;
	width: 500px;
	margin: auto;
}


/*score-panel*/

.score-panel {
	margin-top: 30px;
	text-align: left;
}

li {
	display: inline-block;
	list-style: none;
}

/*modal*/

.modal-back {
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	right: 0;
	-webkit-transform: scale(0);
	        transform: scale(0);
}

.modal-back.show {
	-webkit-transform: scale(1);
	        transform: scale(1);
}

/*modal*/
.modal-body {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 450px;
	margin: auto;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-animation-duration: 0.8s;
	        animation-duration: 0.8s;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}

.modal-header {
	width: 100%;
	height: 40px;
	border-radius: 10px 10px 0 0;
}

.close {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 20px;
	height: 20px;
	background: rgba(0, 0, 0, 0);
}

.close:hover {
	color: white;
}

.content-wrapper {
	position: relative;
	background: #2F3C40;
	height: 100%;
	width: 100%;
	padding: 30px;
	border-radius: 0 0 10px 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
}

.content-header {
	font-size: 30px;
}

.content {
	color: #fff;
	margin-top: 40px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.content span:after {
	content: ' Left';
}

.content ul {
	width: 180px;
}

.action {
	-ms-flex-item-align: end;
	    align-self: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.reset {
	border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    background-color: #fff;
    color: #3E4F55;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.reset:hover {
    -webkit-box-shadow: 2px 8px 16px 0 rgba(0,0,0,0.2);
            box-shadow: 2px 8px 16px 0 rgba(0,0,0,0.2);
}

/*win modal*/
.modal-win.modal-body {
	height: 220px;
}

.modal-win.show {
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.modal-win .modal-header {
	background: #99B898;
}

.modal-win .content-wrapper {
	color: #E5FCC2;
}

/*lose modal*/
.modal-lose.modal-body {
	height: 170px;
}

.modal-lose.show {
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.modal-lose .modal-header {
	background: #D32F2F;
}

.modal-lose .content-wrapper {
	color: #FF5722;
}

.modal-lose .reset {
	color: #4CAF50;
}